@import "bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "Barlow Regular";
  src: local("Barlow Regular"), url("./fonts/Barlow-Regular.eot?") format("eot"),
    url("./fonts/Barlow-Regular.woff") format("woff"),
    url("./fonts/Barlow-Regular.ttf") format("truetype"),
    url("./fonts/Barlow-Regular.svg#Barlow-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Barlow SemiBold";
  src: local("Barlow SemiBold"),
    url("./fonts/Barlow-SemiBold.eot?") format("eot"),
    url("./fonts/Barlow-SemiBold.woff") format("woff"),
    url("./fonts/Barlow-SemiBold.ttf") format("truetype"),
    url("./fonts/Barlow-SemiBold.svg#Barlow-SemiBold") format("svg");
  font-weight: 200;
  font-style: normal;
}
* {
  font-family: "Barlow-Regular";
}
body {
  background-color: rgb(244, 244, 244);
}
.container {
  background-color: white;
}
.centerRow {
  display: flex;
  justify-content: center;
}
.CustomT {
  padding: 0px 2rem;
}
.transparentButton {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #fffbfb;
  border-left: 0px none #fffbfb;
  border-top: 1px none #fffbfb;
  border-right: 1px none #fffbfb;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.bottom-arrow {
  padding: 22px;
  background-color: #dcf6f8;
  border: 1px solid #d7edee;
  border-radius: 4px;
}

.bottom-arrow:after {
  content: "";
  position: absolute;
  left: 6px;
  right: 0px;
  margin: 22px 31px;
  width: 0;
  height: 0;
  border-top: 15px solid #d7edee;
  border-left: 3px solid transparent;
  border-right: 17px solid transparent;
}

.fontCustom {
  line-height: 30px;
  font-size: 19px;
}

.flexWoman {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.fontscustom {
  font-size: 40px;
  max-width: 518px;
  max-height: 92px;
  letter-spacing: 0px;
}

.MainImageCustm {
  max-width: 585px;
  max-height: 660px;
}
.paddingMainText {
  padding-top: 140px;
}
.wearekeep {
  font-size: 18px;
  max-width: 508px;
  margin-top: 39px;
}
.customCont {
  display: flex;
  justify-content: space-between;
}

.CustomBoxLen {
  width: 407px;
  margin-left: 2px;
  margin-top: 15px;
}

.mainCOnfig {
  font-size: 1.5rem;
}
.signUpImage {
  background-image: url("assets/signupxl.png");
  margin-top: 62px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575px) {
  .customCont {
    width: 10vw;
  }

  .marginForTheLast {
    margin-top: 37px;
  }
  .CustomT {
    padding: 0;
  }
  .fontCustom {
    font-size: 19px;
    line-height: 24px;
  }
  .sizePlus {
    width: 15px;
    height: 30px;
    margin: 0 10px;
  }

  .mainCOnfig {
    font-size: 17px;
  }

  .flexWoman {
    justify-content: center;
  }
  .customeLength {
    font-size: 13px;
  }
  .CustomBoxLen {
    width: 17rem;
    font-size: 14px;
  }
  .p-0 {
    padding-left: 0;
  }
  .custombuttonT {
    width: 93px;
    background-color: rgb(56, 201, 213);
    height: 26px;
    font-family: "Barlow-SemiBold";
    font-size: 12px;
    white-space: nowrap;
    padding-top: 3px;
  }
  .navImage {
    width: 54px;
  }
  .customCont {
    width: 20vw;
  }
  .paddingMainText {
    padding-top: 0px;
    font-size: 18px;
    height: 100%;
    max-height: 381px;
  }

  .fontscustom {
    font-size: 40px;
    line-height: 31px;
  }
  .signUpImage {
    background-image: url("assets/signup.png");
  }
  .imageSecSize {
    width: 24px;
    height: 22px;
    margin-top: 5px;
  }
  .imagePhone {
    width: 120px;
  }
  .wearekeep {
    padding-top: 0px;
    height: 100%;
    font-size: 18px;
    line-height: 20px;
    max-height: 219px;
  }
}
.carousel-control-next {
  right: -32px;
}
.carousel-control-prev {
  left: -32px;
}

@media (max-width: 1200px) and (min-width: 764px) {
  .MainImageCustm {
    width: 100%;
  }
  .paddingMainText {
    padding-top: 5em;
  }
  .fontscustom {
    font-size: 1.5rem;
  }
  .wearekeep {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .marginCusomLG {
    margin-top: 41px;
  }

  .CustomBoxLen {
    width: 106%;
  }
}

@media (max-width: 280px) {
  .navImage {
    width: 3rem;
  }
  .wearekeep{
    font-size: 14px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .spaceImage {
    margin-right: 22px;
  }
  .customHeight {
    height: 100px;
  }
  .customeLength {
    font-size: 0.7rem;
  }
}
@media (min-width:770px){
  .customemargin{
    margin-left: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .fontCustom {
    line-height: 30px;
    font-size: 18px;
  }
  .customHeight {
    height: 17em;
  }
  .fontCustom {
    font-size: 0.8rem;
  }
  .mainCOnfig {
    font-size: 1rem;
  }
  .customeLength {
    font-size: 0.9rem;
  }
  .centerXON{
    display: flex;
    flex-direction: columns;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .fontCustom {
    line-height: 30px;
    font-size: 16px;
  }
  .customCont {
    width: 0px;
  }
  .mainCOnfig {
    font-size: 1rem;
  }
}
